CONFIG_TARGET_mediatek_filogic_DEVICE_abt_asr3000=y
CONFIG_TARGET_mediatek_filogic_DEVICE_bt_rb300=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_a10=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_a10-stock=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_a10-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_a10-256m=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m-nand-mtk=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000me=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_xr30-nand=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_xr30-stock=y
CONFIG_TARGET_mediatek_filogic_DEVICE_comfast_cf-e393ax=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cetron_ct3003=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cetron_ct3003-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_confiabits_mt7981=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_ap3000-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_ap3000outdoor-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_m3000-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1-256mb=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_wbr3000uax-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_wbr3000uax-v1-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_wr3000s-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_dlink_aquila-pro-ai-m30-a1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_edgecore_eap111=y
CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt3000=y
CONFIG_TARGET_mediatek_filogic_DEVICE_gatonetworks_gdsp=y
CONFIG_TARGET_mediatek_filogic_DEVICE_h3c_magic-nx30-pro=y
CONFIG_TARGET_mediatek_filogic_DEVICE_h3c_magic-nx30-pro-nmbm=y
CONFIG_TARGET_mediatek_filogic_DEVICE_imou_lc-hx3001=y
CONFIG_TARGET_mediatek_filogic_DEVICE_jcg_q30-pro=y
CONFIG_TARGET_mediatek_filogic_DEVICE_keenetic_kn-3811=y
CONFIG_TARGET_mediatek_filogic_DEVICE_keenetic_kn-3911=y
CONFIG_TARGET_mediatek_filogic_DEVICE_livinet_zr-3020=y
CONFIG_TARGET_mediatek_filogic_DEVICE_livinet_zr-3020-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_mercusys_mr80x-v3=y
CONFIG_TARGET_mediatek_filogic_DEVICE_mediatek_7981r128=y
CONFIG_TARGET_mediatek_filogic_DEVICE_netis_nx32u=y
CONFIG_TARGET_mediatek_filogic_DEVICE_nokia_ea0326gmp=y
CONFIG_TARGET_mediatek_filogic_DEVICE_openembed_som7981=y
CONFIG_TARGET_mediatek_filogic_DEVICE_openwrt_one=y
CONFIG_TARGET_mediatek_filogic_DEVICE_qihoo_360t7=y
CONFIG_TARGET_mediatek_filogic_DEVICE_routerich_ax3000=y
CONFIG_TARGET_mediatek_filogic_DEVICE_routerich_ax3000-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_routerich_ax3000-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_superelectron_zn-m5-stock=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301-256m=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301-stock=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301-v2-1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301-v2-1-stock=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_wma301-v2-1-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_wirelesstag_zx7981pd=y
CONFIG_TARGET_mediatek_filogic_DEVICE_wirelesstag_zx7981pd-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_wirelesstag_zx7981pg=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-mtkuboot=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-stock=y
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_zbtlink_zbt-z8102ax=y
CONFIG_TARGET_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax=y
CONFIG_TARGET_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax-c=y
CONFIG_TARGET_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax-c-ubootmod=y
CONFIG_TARGET_mediatek_filogic_DEVICE_zbtlink_zbt-z8103ax-c-nmbm=y
CONFIG_TARGET_mediatek_filogic_DEVICE_zyxel_nwa50ax-pro=y
CONFIG_TARGET_mediatek_filogic_DEVICE_netis_nx31=y
CONFIG_TARGET_mediatek_filogic_DEVICE_asus_rt-ax52=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_re3000-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_wr3000-v1=y
CONFIG_TARGET_mediatek_filogic_DEVICE_unielec_u7981-01-nand=y
